html {
    scroll-behavior: smooth;
    margin-right: 2%;
}
.nav_list {
    float: left;
    z-index: 1000000;
    transition: transform .30s;
    background-color: #14250f;
    color: aquamarine;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 3vw;
    text-decoration: none;
}
  .menu {
    list-style: none;
    margin-right: 20%;
    z-index: 462798328;
  }
/*com*/
.link_url {
    color: inherit;
    text-decoration: inherit;
}


.nav_list:hover {
    background-color: blanchedalmond;
    color: rgb(50, 82, 72);
    transform: scale(1.2);
    z-index: 19378;
 }
 .nav {
    background-color: #14250f;
    position: fixed;
    width: 200%;
    margin-left: -1vw;
    z-index: 8938;
 }
.text {
  font-family: 'Indie Flower', cursive;
  font-size: 3.5vmin;
}
.text_url {
  color: inherit;
}
.text_url:hover {
  color: #ba8900;
}
.text_url:active {
  color: rgb(192, 179, 104);
}
.footer {
  background-color: rgb(157, 157, 158);
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-right: 1vw;
}
.footer_arrow {
  z-index: 1002929;
  right: 4vw; 
  cursor: pointer; 
  background-color: rgb(190, 159, 120);
}
.footer_arrow:hover {
  background-color: rgb(233, 219, 202);
}

.content_url {
  color: rgb(87, 201, 209);
}
.popup_container {
  z-index: 1000000000;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background-color: whitesmoke;
  left: 0;
  top: 0;
  display: none;
}
.popup {
  position: fixed;
  left: 25%;
  right: 25%;
  width: 50%;
  top: 12.5%;
  transition: transform .30s;
  background-color: #55d12f
}
.popupclose { 
  color: rgb(240, 136, 9);
}
.popupclose:hover {
  color: rgb(35, 55, 110);
  cursor: pointer;
}
.popup_h3 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.4vw;
  color: #131d55;
}
.signin_opt:hover {
  box-shadow: 2px 2px 5px grey;
}
.input {
  margin: auto;
  width: 75%;
  display: block;
  background-color: #14250f;
  color: aliceblue;
  font-size: 150%;
}
.enter_email {
  text-align:center; 
  display: block; 
  margin: auto; 
  background-color: black; 
  color: white; 
  padding: 0px; 
  border: none; 
  font-family: 'Roboto Mono', monospace; 
  height: 15%; 
  width: 30%;
}
.enter_email:hover {
  cursor: pointer;
  box-shadow: 5px 10px 18px #888888;
}
.errorMessage {
  text-align: center;
  color: #033b3d;
  font-size: 3vw;
}