html {
    scroll-behavior: smooth;
}
.nav_list {
    float: left;
    z-index: 1000000;
    transition: transform .30s;
    background-color: #14250f;
    color: aquamarine;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 3vw;
    text-decoration: none;
}
  .menu {
    list-style: none;
    margin-right: 20%;
    z-index: 462798328;
  }
/*com*/
.link_url {
    color: inherit;
    text-decoration: inherit;
}


.nav_list:hover {
    background-color: blanchedalmond;
    color: rgb(50, 82, 72);
    transform: scale(1.2);
    z-index: 19378;
 }
 .nav {
    background-color: #14250f;
    position: fixed;
    width: 200%;
    margin-left: -1vw;
    z-index: 108938;
 }