.blog_images {
    width: 30%;
}
.post {
    font-family: 'Prompt', sans-serif;
    font-size: 1.3vw;
    color: rgb(212, 151, 81);
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(69,120,57,1) 8%, rgba(4,4,11,1) 43%, rgba(8,8,110,1) 55%, rgba(0,0,0,0.7514356084230567) 81%);
}
h2 {
    font-family: 'Abril Fatface', cursive;
    color: rgb(143, 172, 106);
}